<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погодное приложение</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/"
                class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none justify-content-between text-uppercase font-weight-bold">
                <i class="fal fa-cloud-sun fa-6x icon__item" style="color: #007bff;"></i>
                <span style="color: #007bff;">Get Weather</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Информация</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Документация</button>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погода в вашем городе{{ info }}</h1>
                <form action="" method="POST">{% csrf_token %}
                    <label for="city">Город</label>
                    <input id="city" type="text" class="form-control" name="city" placeholder="Введите город">
                    <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-primary">
                </form>
            </div>
            <div class="col-4 offset-1">
                <h1>Информация</h1>
                <div class="alert alert-light">
                    <b>Город: </b>{{ info.city }}<br>
                    <b>Температура: </b>{{ info.temp }}<sup>o</sup><br>
                    <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>


</body>

</html>